
$font-family-sans-serif: "Metropolis", sans-serif;
$link-color: #9ea7ff; //red
$link-hover-color: #8e98f1;
$enable-responsive-font-sizes: true;

$primary: #3668bf;
$success: #38ba80;
$danger: #ff6258;
$info: #8862e0;
$brand-color: #7673eb;

$custom-file-text: (
  en: "Browse",
  fr: "Parcourir",
  tr: "Araştır",
  ar: "تصفح",
);
