.document-parent-container {
    font-size: 13px;
    margin: 0px auto;
    background-color: #eee;
    padding: 10px;
}

.document-container {
    position: relative;
    background-color: #fff;
    padding: 20px;
    min-height: 800px;
}
