.thread-member {
    background-color: #fff !important;
    padding: 20px;
}

.thread-customer {
    background-color: #ffffe6 !important;
    padding: 20px;
}

.comment-box {
    padding: 20px;
    border: 1px solid #dce1ef;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 40px;
}

.comment-box-footer {
    padding: 10px;
    background-color: #eee;
    margin: -20px;
    font-size: 13px;
}

.comment-body-parent {
    border-left: 1px solid #eee;
}
