.statistics-box {
    div {
        width: 35px;
        height: 35px;
        text-align: center;
    }
    i {
        font-size: 22px;
        color: #fff;
        padding: 7px 7px;
    }
    .bg-purple {
        background-color: #5941aa;
    }
    .bg-green {
        background-color: #2dce89;
    }
    .bg-red{
        background-color: #f57c8d;
    }
    .bg-blue{
        background-color: #9b93d4;
    }
}

