.card-bg-indigo {
    background-color: #5941aa;
    color: #fff;
}

.card-bg-indigo-light {
    background-color: #9b93d4;
    color: #fff;
}

.card-bg-red-light {
    background-color: #f57c8d;
    color: #fff;
}

.card-bg-green {
    background-color: #2dce89;
    color: #fff;
}

// .bg-gradient-info {
//     background: -o-linear-gradient(40deg, #00b8d9 0, #0077d9 100%) !important;
//     background: linear-gradient(50deg, #00b8d9 0, #0077d9 100%) !important;
// }

// .bg-gradient-primary {
//     background: -o-linear-gradient(40deg, #6e00ff 0, #bb00ff 100%) !important;
//     background: linear-gradient(50deg, #6e00ff 0, #bb00ff 100%) !important;
// }

// .bg-gradient-dark {
//     background: -o-linear-gradient(40deg, #273444 0, #272b44 100%) !important;
//     background: linear-gradient(50deg, #273444 0, #272b44 100%) !important;
// }