


.rating a {
    color: #ddd;
    transition: color 0.5s ease;

    :hover {
        color: #f0ad4e;
    }

    .star-filled {
        color: #f0ad4e;
    }
    .is-disabled:not(.star-filled) {
        color: #ddd;
    }
    
}




.rating .star {
    color: #ddd;
    transition: color 0.5s ease;
   
    .star-filled {
        color: #f0ad4e;
    }
    .is-disabled:not(.star-filled) {
        color: #ddd;
    }
    
}
